﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Ordenar.js")

    <script language="JavaScript">
        function tiempo() {
            momentoActual = new Date()
            hora = momentoActual.getHours()
            minuto = momentoActual.getMinutes()
            segundo = momentoActual.getSeconds()

            str_segundo = new String(segundo)
            if (str_segundo.length == 1)
                segundo = "0" + segundo

            str_minuto = new String(minuto)
            if (str_minuto.length == 1)
                minuto = "0" + minuto

            str_hora = new String(hora)
            if (str_hora.length == 1)
                hora = "0" + hora

            horaImprimible = hora + " : " + minuto + " : " + segundo

            document.form_reloj.reloj.value = horaImprimible

            setTimeout("tiempo()", 1000)
        }
    </script>

    <style>
        .header img {
            float: left;
            height: 100px;
            position: relative;
            bottom: 20px;
        }
    </style>
</head>
<body onload="tiempo()">
    <div class="header">
        <img src="~/Logo/AdEMP.png" alt="logo" />
    </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span class="icon-bar"></span>
            @Html.ActionLink("AdEMP", "AdEMP", "Empleados", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Inicio", "Index", "Empleados", new { @class = "nav-link" })<span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Compañeros", "Compañeros", "Empleados", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacto", "Contacto", "Empleados", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Cerrar Sesion", "Desconectar", new { id = Session["usuario"] }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>

        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <hr />
        <footer>
            <form name="form_reloj" style="text-align:right">
                <input name="reloj" size="10" style="text-align:center;" />
            </form>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
