﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AdEMP </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <style>
        body {
            background: radial-gradient(#2C3E50, #fff, #2C3E50, #2C3E50);
            font-family: "Lato";
        }
.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}

.wrap input {
    border: 1px solid black;
	background: #fff;
  font-family:Lato ;
  font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px ;
}
.wrap input[type="password"] {
	border-radius: 7px ;
}
.forgot_link {
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #b6ee65;
	border: none;
	color: #51771a;
  margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}
        .Loguear {
            width: 100%;
            border-radius: 7px;
            background: #b6ee65;
            background-color: #b6ee65;
            color: White;
            margin-top: -5px;
            padding-top: 14px;
            padding-bottom: 14px;
            outline: none;
            font-size: 13px;
            border-bottom: 3px solid #307d63;
            cursor: pointer;
        }

    </style>
    <script language="JavaScript">
        function mueveReloj(){
            momentoActual = new Date()
            hora = momentoActual.getHours()
            minuto = momentoActual.getMinutes()
            segundo = momentoActual.getSeconds()

            str_segundo = new String(segundo)
            if (str_segundo.length == 1)
                segundo = "0" + segundo

            str_minuto = new String(minuto)
            if (str_minuto.length == 1)
                minuto = "0" + minuto

            str_hora = new String(hora)
            if (str_hora.length == 1)
                hora = "0" + hora

            horaImprimible = hora + " : " + minuto + " : " + segundo

            document.form_reloj.reloj.value = horaImprimible

            setTimeout("mueveReloj()", 1000)
        }
    </script>



</head>
<body onload="mueveReloj()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">


        </div>
    </div>
    <div class="container body-content">

        <div class="wrap">

            @RenderBody()

        </div>


            <hr />
            <footer>
                <form name="form_reloj" style="text-align:right">
                    <input name="reloj" size="10" style="text-align:center;" />
                </form>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>