﻿@model Proyecto_AdEMP.empleado
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/loginstyle.css" />
<center>

    <h1>AdEMP</h1>
    <br />
    <br />
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {

        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <table>
                <tr>
                    <td>@Html.Label("Usuario: ")</td>
                    <td>@Html.TextBoxFor(session => session.usuario)</td>
                    <td>@Html.ValidationMessageFor(session => session.usuario, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Contraseña: ")</td>
                    <td>@Html.PasswordFor(session => session.clave)</td>
                    <td>@Html.ValidationMessageFor(session => session.clave, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Iniciar Sesion" style ="color:#48C9B0  ;" class="btn btn-primary" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    }
</center>
<div id="bajada">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
