﻿@model Proyecto_AdEMP.empleado
@{
    ViewBag.Title = "Desconectar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/loginstyle.css" />
<center>
    <br />
    <h1>¿Desea cerrar Sesion @Session["nombre"]?</h1>

    <br />
    <br />
    <br />
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p><label for="Introduzir">Introduzca su usuario para cerrar la sesion</label></p>
                @Html.TextBoxFor(session => session.usuario)

                <br />
                <br />
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Cerrar Sesion" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>

            </fieldset>
        </div>

    }

    @Html.ActionLink("Volver al inicio", "Index", "Empleados")
</center>
<div id="bajada">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
