﻿@model Proyecto_AdEMP.empleado

@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div>
        <br />
        <h3>Horario de @Html.DisplayFor(model => model.nombre) @Html.DisplayFor(model => model.apellido)</h3>
        <hr />
        <table>
            <tr>
                <td>
                    <b>Lunes:</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.horarios.lunes)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Martes:</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.horarios.martes)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Miercoles:</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.horarios.miercoles)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Jueves:</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.horarios.jueves)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Viernes:</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.horarios.viernes)
                </td>
            </tr>
</table>
    </div>
    <br />
    <br />
    <p>
        @Html.ActionLink("Volver a la lista de compañeros", "Compañeros")
    </p>
</center>
