﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron">
    <h1>AdEMP</h1>
    <p class="lead">App dirigida a Administradores o Jefes de equipo para llevar un seguimiento de sus empleados.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Diseñadores</h2>
        <p>
            Alejandro<br />
            Nikos<br />
            Jesús<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Más Información</h2>
        <p><a href="https://prezi.com/view/IWumb93JdaalGLBskr2Z/">AdEMP</a></p>
    </div>
</div>