﻿@model Proyecto_AdEMP.empleado

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h3 align="center">¿Estas seguro de querer borrar a <b>@Html.DisplayFor(model => model.nombre) @Html.DisplayFor(model => model.apellido)</b>?</h3>
<br />
<div align="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Si" class="btn btn-primary" /> |
            @Html.ActionLink("Volver atras", "Empleados")
        </div>
    }
</div>
