﻿@model IEnumerable<Proyecto_AdEMP.categoria>

@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 align="center">Categoria</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Categoria
            </th>
            <th scope="col">
                Salario
            </th>
            <th scope="col">
                Horas totales
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <th scope="row">@Html.DisplayFor(modelItem => item.nombre_categoria)</th>
                <td>
                    @Html.DisplayFor(modelItem => item.salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horas_totales)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarCategoria", new { id = item.id_categoria })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Volver a la seccion de modificacion", "Modificar")
</div>
