﻿@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 align="center">@ViewBag.Title.</h2>
<h3 align="center">@ViewBag.Message</h3>
<br />
<br />
<div align="center">
    <address>
        AdEMP<br />
        <abbr title="Tef">P:</abbr>
        +34 654 10 21 10
        +34 675 84 10 14
    </address>
</div>
<br />
<div align="center">
    <address>
        <strong>Support y Marketing:</strong>   <a href="mailto:alex_mykel@hotmail.com">Alejandro</a><br />
        <strong>Estadisticas:</strong> <a href="morenojesus93@hotmail.com">Jesus</a>
        <strong>Bootstrap y login:</strong> <a href="ragkousis9@gmail.com">Nikos</a>
    </address>
</div>