﻿@model Proyecto_AdEMP.empleado

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 align="center">Añadir nuevo Empleado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center">
        <hr />
        @Html.ValidationSummary(true, "DNI o usuario estan repetidos", new { @class = "text-danger" })

<table>
    <tr>
        <td><b>DNI</b></td>
        <td>@Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Nombre de Usuario</b></td>
        <td>@Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Crear Contraseña</b></td>
        <td>@Html.PasswordFor(model => model.clave, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })</td>
</tr>
    <tr>
        <td><b>Nombre</b></td>
        <td>@Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Apellido</b></td>
        <td>@Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })</td>
        <td>@Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Oficio</b></td>
        <td>@Html.DropDownList("oficio", null, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.oficio, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Categoria</b></td>
        <td>@Html.DropDownList("categoria", null, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Estado</b></td>
        <td>@Html.DropDownList("estado", null, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Horario</b></td>
        <td>@Html.DropDownList("horario", null, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.horario, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><b>Activo</b></td>
        <td>@Html.DropDownList("activo", null, htmlAttributes: new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })</td>
    </tr>
</table>
    <br />
        <div class="form-group" align="center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Añadir nuevo empleado" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.claveconfirmada, "Introduzca nuevamente la contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.claveconfirmada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.claveconfirmada, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Volver a Modificadores", "Modificar")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
