﻿@model Proyecto_AdEMP.categoria

@{
    ViewBag.Title = "EditarCategoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 align="center">EditarCategoria</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center">
        <table>
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_categoria)
            <tr>
                <td>Salario</td>
                <td>@Html.EditorFor(model => model.salario, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.salario, "", new { @class = "text-danger" })</td>
            </tr>
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.nombre_categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_categoria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_categoria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.horas_totales, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horas_totales, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.horas_totales, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
}
<br />
<div class="col-md-offset-2 col-md-10" align="center">
    @Html.ActionLink("Volver a categorias", "Categoria")
</div>