﻿@model Proyecto_AdEMP.empleado
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h3 align="center">Modificando al empleado <b> @Html.DisplayFor(model => model.nombre) @Html.DisplayFor(model => model.apellido)</b></h3>
<br />
@using (Html.BeginForm())
{

        @Html.AntiForgeryToken()

    <div align="center">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DNI)
                <table width="350">
                    <tr>
                        <td><b>Nueva contraseña</b></td>
                        <td>@Html.PasswordFor(model => model.clave, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })</td>
                    </tr>

                    <tr>
                        <td><b>Oficio</b></td>
                        <td>@Html.DropDownList("oficio", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(model => model.oficio, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td><b>Categoria</b></td>
                        <td>@Html.DropDownList("categoria", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })</td>
                    </tr>

                    <tr>
                        <td><b>Estado del empleado</b></td>
                        <td>@Html.DropDownList("estado", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td><b>Horario</b></td>
                        <td>@Html.DropDownList("horario", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(model => model.horario, "", new { @class = "text-danger" })</td>
                    </tr>
                </table>  
</div>

        <br />
        <div class="form-horizontal" align="center">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Actualizar datos" class="btn btn-primary" />
                </div>
            </div>


            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.activo, "activo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("activo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.claveconfirmada, "Repita la contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.claveconfirmada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.claveconfirmada, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
}
<br />
<br />
<div class="col-md-offset-2 col-md-10" align="center">
    @Html.ActionLink("Volver a la lista de empleados", "Empleados")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

