﻿@model IEnumerable<Proyecto_AdEMP.empleado>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />

<div align="right" >
    Ordenar
    <select style="Text-align:Right" onchange="ordenar(value)">
        <option>----------------------</option>
        <option value="0">Especializacion</option>
        <option value="1">Localizacion</option>
        <option value="2">Categoria</option>
        <option value="3">Estado de conexion</option>
        <option value="4">DNI</option>
        <option value="5">DNI2</option>
        <option value="6">----------------------</option>
    </select>
</div>


@using (Html.BeginForm())
{
    <p  class="col-md-10">Buscar: @Html.TextBox("nombre") <input type="submit" value="Buscar" class="btn btn-primary" /></p>

}
<table class="table table-hover" id="ordenar">
    <thead>
        <tr>
            <th scope="col">
                DNI
            </th>
            <th scope="col">
                Nombre
            </th>
            <th scope="col">
                Apellido
            </th>
            <th scope="col">
                Especializacion
            </th>
            <th scope="col">
                Localizacion
            </th>
            <th scope="col">
                Categoria
            </th>
            <th scope="col">
                Estado de Conexion
            </th>
            <th scope="col">
                Entrada y Salida
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.DNI)
                </th>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.nombre)
                </th>
                 <th scope="row">
                    @Html.DisplayFor(modelItem => item.apellido)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.oficio1.oficio1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado1.estado1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria1.nombre_categoria)
                </td>
                <td style="padding-left:62px;position: relative;">
                    @Html.DisplayFor(modelItem => item.activo1.activo1)
                </td>
                <td style="padding-left:50px;position: relative;">
                    @Html.ActionLink("Ficha", "RegistroHorario", new { id = item.DNI})
                </td>
                <td>
                    @Html.ActionLink("Horario", "Horario", new { id = item.DNI }) |
                    @Html.ActionLink("Modificar", "EditarEmpleado", new { id = item.DNI }) |
                    @Html.ActionLink("Eliminar", "BorrarEmpleado", new { id = item.DNI })
                </td>
            </tr>
        }
    </tbody>
</table>





<script>
    function ordenar(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("ordenar");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
