﻿
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<center>
    <h2>Estadisticas</h2>
    <h3>
        <br />
    <a href="~/EstadisticaSalario.aspx" style="text-decoration:none;">Estadistica de salario</a>
        <br />
        <br />
    <a href="~/EstadisticaActivos.aspx" style="text-decoration:none;">Estadistica de usuarios activos</a>
        <br />
        <br />
        <a href="~/EstadisticaOficio.aspx" style="text-decoration:none;">Estadistica de Oficios</a>
        <br />
        <br />
        <a href="~/EstadisticaHorasCategoria.aspx" style="text-decoration:none;">Estadistica de horas categoria</a>
    </h3>
</center>