﻿@model IEnumerable<Proyecto_AdEMP.horarios>

@{
    ViewBag.Title = "Horarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 align="center">Horarios</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Indicador Horario
            </th>
            <th scope="col">
                Lunes
            </th>
            <th scope="col">
                Martes
            </th>
            <th scope="col">
                Miercoles
            </th>
            <th scope="col">
                Jueves
            </th>
            <th scope="col">
                Viernes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <th scope="row">@Html.DisplayFor(modelItem => item.tipo_horario)</th>
                <td>
                    @Html.DisplayFor(modelItem => item.lunes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.martes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.miercoles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jueves)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.viernes)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-md-offset-2 col-md-10" style="text-align:center;">
    @Html.ActionLink("Volver a la lista de empleados", "Empleados")
</div>