﻿@model Proyecto_AdEMP.empleado

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center>
    <br />
        <h2>Bienvenido @Session["nombre"].ToString() @Session["apellido"].ToString()</h2>

    <fieldset>
        <br />
        <br />
        <table>
            <tr>
                <td>
                    Activo: 
                </td>
                <td>
                    @Session["activo"]
                </td>
                <td>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td>Estado:
                <td>@Html.DropDownList("estado", null, htmlAttributes: new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>
                    <br />
                    <br />
                    <br />
                </td>
                <td> <input type="submit" name="boton" value="actualizar" class="btn btn-primary" /></td>
            </tr>
        </table>
        <br />
        <br />
    </fieldset>
</center>