﻿
@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<center>
    <br />
    <h2>Añadir y Modificar datos</h2>
    <br />
    <h4>En esta seccion como administrador podra realizar todo tipo de cambios en su empresa</h4>
    <h3>
        <br />
        @Html.ActionLink("Crear nuevo usuario", "CrearUsuario")
        <br />
        <br />
        @Html.ActionLink("Modificar Usuarios", "Empleados")
        <br />
        <br />
        @Html.ActionLink("Modificar Salario de categoria", "Categoria")
        <br />
        <br />
        @Html.ActionLink("Consultar Horarios", "Horarios")
    </h3>
</center>
