﻿@model IEnumerable<Proyecto_AdEMP.historico_conexion>

@{
    ViewBag.Title = "prueba";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

@using (Html.BeginForm())
{
    <p class="col-md-10" style="text-align:right;"><b>Buscar por DNI: </b>@Html.TextBox("DNI") <input type="submit" value="Buscar" class="btn btn-primary" /></p>
}

<table class="table" id="ordenar">
    <thead>
        <tr>
            <th scope="col">
                Fecha
            </th>
            <th scope="col">
                DNI
            </th>
            <th scope="col">
                Nombre
            </th>
            <th scope="col">
                Apellido
            </th>
            <th scope="col">
                Registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.fecha)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empleado.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empleado.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.registro)
                </td>
            </tr>
        }
    </tbody>
</table>
